#about {
  height: 129vh;
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.about-text {
  display: flex;
  align-items: center;
  gap: 90px;
  text-align: start;
  margin-bottom: 40px;
}

.about-text h2 {
  color: #fca311;
  font-weight: 500;
  font-size: 30px;
}

.about-des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.about-des p:nth-child(3) span {
  color: #fca311;
}

.about-img {
  height: 250px;
  width: 300px;
  border-radius: 20px;
}

.about-text p {
  color: #e5e5e5;
  font-size: 24px;
  width: 650px;
  margin: 0 0 20px 0;
}

.moving-title-wrap {
  height: 270px;
  width: 100vw;
  white-space: nowrap;
  overflow-x: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.moving-title {
  height: 100%;
  display: inline-block;
  animation-name: move;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.moving-title h1 {
  font-size: 100px;
  font-weight: 500;
  display: inline-block;
  color: #e5e5e5;
  margin: 30px 0 0 0;
}

.moving-title span {
  color: #fca311;
}

.dash {
  font-size: 150px;
  font-weight: 200;
  margin: 0 30px;
  display: inline-block;
  color: #e5e5e5;
  position: relative;
  top: 20px;
}

@keyframes move {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/***** media queries *****/
@media (max-width: 1100px) {
  .about-img {
    height: 200px;
    width: 250px;
  }

  .about-text {
    gap: 30px;
  }

  .about-text p {
    font-size: 20px;
  }

  .moving-title h1 {
    font-size: 75px;
  }

  .dash {
    font-size: 125px;
    top: 10px;
  }

  .moving-title-wrap {
    height: 200px;
  }
}

@media (max-width: 999px) {
  .about-img {
    height: 200px;
    width: 250px;
  }

  .about-des {
    width: 600px;
  }

  .about-text p {
    width: inherit;
    font-size: 20px;
  }

  .moving-title h1 {
    font-size: 75px;
  }

  .dash {
    font-size: 125px;
    top: 10px;
  }

  .moving-title-wrap {
    height: 200px;
  }
}

@media (max-width: 950px) {
  #about {
    height: fit-content;
    padding: 50px 0 50px 0;
  }

  .about-des {
    width: 500px;
  }

  .about-img {
    display: none;
  }

  .about-des {
    text-align: center;
    align-items: center;
  }

  .moving-title h1 {
    font-size: 50px;
  }

  .dash {
    font-size: 75px;
    top: 10px;
    margin: 0 20px;
  }

  .moving-title-wrap {
    height: 150px;
  }
}

@media (max-width: 700px) {
  #about {
    padding: 150px 0 50px 0;
  }

  .moving-title h1 {
    font-size: 40px;
  }

  .dash {
    font-size: 60px;
    top: 7px;
    margin: 0 10px;
  }

  .moving-title-wrap {
    height: 120px;
  }
}

@media (max-width: 609px) {
  .about-des {
    width: 400px;
  }
}

@media (max-width: 425px) {
  #about {
    padding: 200px 0 50px 0;
  }

  .moving-title h1 {
    font-size: 28px;
  }

  .dash {
    font-size: 45px;
    top: 5px;
    margin: 0 5px;
  }

  .about-des {
    width: 325px;
  }

  .moving-title-wrap {
    height: 120px;
  }
}

@media (max-width: 320px) {
  .about-des {
    width: 300px;
  }
}
